#clubwars-content{
  min-height: 2000px;
  padding-top: 70px;
}
#principal {
	position: fixed;
	width: inherit;
	background-color: rgba(150, 150, 132, 0.5);
	border-radius: 0px;
	border-color: transparent;
}
#participantes{
	position: fixed;
	background-color: rgba(150, 150, 132, 0.5);
	border-radius: 0px;
	width: 85%;
	border-color: transparent;
}
#skip{
    position: fixed;
	float: right;
    width: 70px;
    height: 70px;
    padding: 0;
	top: 50px;
	right: 40px;
    font-size: 15px;
    color: #ff6;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #000;
    border: 2px solid #ff6;
    border-radius: 35px;
    cursor: pointer;
}
/*#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #101010;
}*/
#participantes img{
	width: 100px;
	height: 100px;h
}
#clubwars-content #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #101010;
}
#clubwars-content .destacados{
	padding: 5px;
	text-align: center;
}
/* Buzz */
@-webkit-keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.buzz {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.buzz:hover, .buzz:focus, .buzz:active {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/*
#clubwars-content .destacados > div > div{
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.2s;
}
#clubwars-content .destacados > div:hover > div{
	margin-top: -10px;
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	transition: 0.5s;
}
/*#clubwars-content{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: #404040;
}

#clubwars-content header{
	width: 100%;
	color: #ff6;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ff6;
	position: fixed;
	top: 0;
	background-color: black;
}
#clubwars-content header label{
	font-size: 2.5em;
	padding: 20px;
}
#clubwars-content header img{
	float: right;
	width: 70px;
	padding-right: 20px;
	vertical-align: middle;
}*/

/*#clubwars-content section{
	display: block;
	width: 90%;
	margin-top: 100px;
	padding-left: 5%;
	padding-right: 5%;
	display: block;
}
#clubwars-content section article{
	margin-top: 50px;
	margin-bottom: 50px;
}



#clubwars-content footer{
	display: block;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #ff6;
	background-color: black;
}

#clubwars-content footer #social{ float: left}
#clubwars-content footer #powered{ float: right }
#clubwars-content footer img{
	width: 60px;
	padding-right: 10px;
	padding-left: 10px;
	vertical-align: middle;
}
#clubwars-content footer #social img{width: 40px}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  Set the fixed height of the footer here 
  height: 60px;
  background-color: #000;
}*/